NEESP-SO/Schemas/ControlMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ControlMessage" xmlns:tns="http://www.example.org/ControlMessage" elementFormDefault="qualified">

    <complexType name="controlType">
    	<sequence>
    		<element name="command" type="string"></element>
    		<element name="parameter" type="string"></element>
    		<element name="parameter2" type="string"></element>
    		<element name="parameter3" type="string"></element>
    		<element name="parameter4" type="string"></element>
    	</sequence>
    </complexType>

    <element name="controlCommand" type="tns:controlType"></element>
</schema>