test-project-20221120-refactoring/NEESP-SW/Schemas/EventMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EventMessage" xmlns:tns="http://www.example.org/EventMessage" elementFormDefault="qualified">

    <complexType name="eventMessageType">
    	<sequence>
    		<element name="eqpId" type="string"></element>
    		<element name="eventType" type="string"></element>
    		<element name="msgId" type="string"></element>
    		<element name="messageBody" type="string"></element>
    		<element name="reserved" type="string"></element>
    	</sequence>
    </complexType>
    
    <element name="eventMessage" type="tns:eventMessageType"></element>
</schema>