NEESP-EQP/Schemas/simPass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/simPass" xmlns:tns="http://www.example.org/simPass" elementFormDefault="qualified">



    <complexType name="simEQP">
    	<sequence>
    		<element name="command" type="string"></element>
    		<element name="PreEqpId" type="string"></element>
    		<element name="loopcount" type="int"></element>
    		<element name="sleeptime" type="int"></element>
    		<element name="message" type="string"></element>
    	</sequence>
    </complexType>

    <element name="simEQPschema" type="tns:simEQP"></element>
</schema>